@import './_color';

#header{
    width: 100%;
    padding: 0;
    margin: 0;

    #mobile{}

    #desktop{
        display: flex;
        flex-direction: row;
        height: 110px;
        background-color: $color-theme;
        
        #left{
            width: 40%;
        }
        #center{
            width: 20%;
        }
        #right{
            width: 40%;
        }
    }
}