@import './_color';

#header {
    position: fixed;
    width: 100%;

    #mobile {
        background-color: $color-theme;

        #top{
            text-align: center;
        }
        #bottom{
            position: fixed;
            width: 100%;
            bottom: 0;

            .list-menu{
                background-color: rgb(17, 17, 17);
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                height: fit-content;

                a {
                    text-decoration: none;
                    color: white;
                    display: block;
                    padding: .6rem 0 .3rem 0;

                    &:hover {
                        color: $color-theme;
                    }
                }
            }
        }
    }

    #desktop {
        display: flex;
        flex-direction: row;
        background-color: $color-theme;
        height: fit-content;

        &:hover {
            background-color: white;
        }

        #left {
            width: 70%;
            padding-left: 2rem;
            display: flex;
            flex-direction: row;

            .list-menu {
                padding: 2.3rem 0 0 3.5rem;
                font-size: 0.9rem;
                display: flex;
                gap: 2rem;

                a {
                    text-decoration: none;
                    color: black;

                    &:hover {
                        color: $color-theme;
                        text-decoration: underline;
                    }
                }
            }
        }

        #right {
            width: 30%;
            padding: 1.6rem 2rem 0 0;
            display: flex;
            flex-direction: row;
            gap: 1rem;
            justify-content: flex-end;

            button {
                font-size: 0.8rem;
            }
        }
    }
}